{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Example 1: Layout básico</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
  
    
</head>
<body>
    <main>
        <div class="flex-container">
            <div id = "div1"> coluna 1</div>
            <div id = "div2"> coluna 2 </div>   
            <div id = "div3"> coluna 3</div>   
        </div>
    </main>
    <img src="{% static 'imagens/django.png' %}" alt="">
    <script>
        document.write('Hello world')
    </script>
</body>
</html>